/* Core */
@import 'normalize.css';
@import 'water.css/out/water.min.css';

/* Instruments */
@import './palette-light.scss';
@import './palette-dark.scss';

:root {
    font-family: system-ui, sans-serif;

    & body {
        min-height: calc(100vh - 40px);
    }

    & ul {
        padding: 0;

        & li {
            list-style: none;
            font-weight: 500;
        }
    }

    & button {
        &:disabled:hover {
            background-color: var(--background);
        }
    }
}
