#app {
    display: grid;
    grid-template-columns: 1fr minmax(600px, auto) 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas:
        '. . .'
        '. example-1 .'
        '. example-2 .';
    min-height: 100vh;
    background-color: #16161A;
}

button {
    color: wheat;
    border: 2px solid currentColor;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
    font-size: 21px;
    padding: 7px 20px;
}

button:hover {
    color: #6495ED;
}

button:active {
    color: orange;
}

button:disabled {
    color: gray;
    cursor: wait;
}
